#export_theme_content {
    height: 375px;
    overflow-y: auto;
    overflow-x: hidden;
}

.page {
  display: none;
}
.page.first {
  display: block;
}

input[type=text] {
    border: 1px solid #ccc;
    padding: 3px;
    width: 600px;
}

#export-pane {
  display: none;
  float: none;
}
#export-pane .progress {
  float: none;
  position: relative;
}
#export-pane .progress p.working {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../../images/indicator.white.gif);
  padding-top: 2px;
  padding-left: 20px;
  height: 16px;
}
#export-pane .progress a {
  font-size: 1.3em;
  padding-top: 8px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(download.gif);
  padding-left: 38px;
  height: 33px;
  display: block;
}
#export-pane #export-log {
  background: white;
  border: 1px solid black;
  color: #222;
  font-family: monospace;
  font-size: 1em;
  width: 588px;
  height: 310px;
  padding: 5px 10px;
  overflow: auto;
}